/* Targeting Elements by Tag Name */
.block{
    padding: 20px;
    margin: 10px;
    border: 1px solid #000;
}
.inline{
    padding: 20px;
    margin: 10px;
    border: 1px solid #000;
    display: inline-block;
}
