/* Targeting Elements by Tag Name */
li:nth-child(1), li:nth-child(7){
    font-weight: bold;
}
li:nth-child(even){
    background-color: #f2f2f2;
}
li:nth-child(even){
    background-color: pink;
}