/* Targeting Elements by Tag Name */
#circle{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgb(200,100,200);
    border-radius: 200px;
    top: 50px;
    left: 50px;
    opacity: 1;
    text-align: center;
}

#circle-2{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgb(200,300,200);
    border-radius: 200px;
    top: 250px;
    left: 150px;
    text-align: center;
}

#circle-3{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgb(2,100,200);
    border-radius: 200px;
    top: 50px;
    left: 250px;
    text-align: center;
}